.container {
  margin: 0 auto;

  @media screen {
    width: auto;
  }
  @media screen and (min-width: 576px) {
    width: 540px;
  }
  @media screen and (min-width: 768px) {
    width: 720px;
  }
  @media screen and (min-width: 992px) {
    width: 960px;
  }
  @media screen and (min-width: 1200px) {
    width: 1140px;
  }
}

html {
  @media screen {
    font-size: 10px;
  }
  @media screen and (min-width: 576px) {
    font-size: 14px;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
  @media screen and (min-width: 992px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}
